.spacer {
  color: $primary-color
}

#boas-vindas {
  background-color: 660099;
}

.conteudo {
  line-height: 2;
  border: 1px;
  margin-left: 1.88rem !important;
  margin-right: 1.88rem !important;
}

.rodape-div {
  text-align: center !important;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: none;
}

.conteudo-container-form {
  margin-bottom: 2rem !important;
}

.conteudo-container {
  margin-bottom: 2.9rem !important;
}

.conteudo-container-migracao {
  margin-bottom: 0.5rem !important;
}

.conteudo-container-red {
  margin-bottom: 2rem !important;
}

.conteudo-container-red-up {
  margin-top: 2.5rem !important;
}

.aviso-conteudo {
  align-content: left;
  margin-bottom: 2.2rem !important;
}

.box-conteudo {
  border-radius: 10px !important;
  border: 1px solid #e0e0e0 !important;
}

.outros-beneficios {
  width: 400px;
  border: 1px solid #e0e0e0;
  padding: 0.8rem;
  border-radius: 5px;
  border-collapse: separate;
}

table.container .cont-premium {
  width: 212px;
  height: 100px;
  //border: 3px solid #660099;
  border-radius: 5px;
  border-collapse: separate;
  background-color: #660099;
  float: right;
  margin-top: 1rem;
  margin-left: 20rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

table.container .cont-premium-center {
  width: 45%;
  height: 100px;
  //border: 3px solid #660099;
  border-radius: 5px;
  background-color: #660099;
  vertical-align: center;
  margin-top: 1rem;
  //margin-left: 8rem;
  margin-bottom: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

table.container .cont-premium-primeira-ligacao {
  width: calc(100% + 4rem);
  height: 100px;
  border-collapse: separate;
  background-color: #f5f5f5;
  margin-bottom: -2rem;
  margin-top: 5rem;
  margin-left: -2rem;
  margin-right: -2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.container-margin {
  margin-bottom: 1.5rem;
}

.container-margin-extra {
  margin-bottom: 2em;
}

.espaco-extra-top {
  margin-top: 1rem;
}

.espaco-extra-bottom {
  margin-bottom: 1rem;
}

.espaco-less-left {
  margin-left: -10rem;
}