.spacer {
  color: $primary-color
}

.conteudo {
  line-height: 2;
  border: 1px;
  margin-left: 1.88rem !important;
  margin-right: 1.88rem !important;
}

.rodape-div {
  text-align: center !important;
  justify-content: center;
  display: flex;
  align-items: center;
}

.conteudo-container-form {
  margin-bottom: 2rem !important;
}

.conteudo-container {
  margin-bottom: 3.9rem !important;
}

.conteudo-container-red {
  margin-bottom: 2rem !important;
}

//.conteudo-container-red-btn {
  //margin-bottom: 2rem !important;
  //margin-top: 2rem !important;
//}

.conteudo-container-red-up {
  margin-top: 2.5rem !important;
}

.aviso-conteudo {
  align-content: left;
  margin-bottom: 2.2rem !important;
}

.box-conteudo {
  border-radius: 10px !important;
  border: 1px solid #bdbdbd !important
}

.outros-beneficios {
  width: 400px;
  border: 1px solid #E0E0E0;
  padding: 2rem;
  border-radius: $global-radius;
}