.spacer {
  color: $primary-color
}

#boas-vindas {
  background-color: 660099;
}

.conteudo {
  line-height: 2;
  border: 1px;
  margin-left: 1.88rem !important;
  margin-right: 1.88rem !important;
}

.rodape-div {
  text-align: center !important;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: none;
}

.conteudo-container-form {
  margin-bottom: 2rem !important;
}

.conteudo-container {
  margin-bottom: 2.9rem !important;
}

.conteudo-container-migracao {
  margin-bottom: 0.5rem !important;
}

.conteudo-container-red {
  margin-bottom: 2rem !important;
}

.conteudo-container-red-up {
  margin-top: 2.5rem !important;
}

.aviso-conteudo {
  align-content: left;
  margin-bottom: 2.2rem !important;
}

.box-conteudo {
  border-radius: 10px !important;
  border: 1px solid #bdbdbd !important
}

.outros-beneficios {
  width: 400px;
  border: 1px solid #e0e0e0;
  padding: 0.8rem;
  border-radius: 5px;
  border-collapse: separate;
}

table.container .cont-premium {
  width: 212px;
  height: 100px;
  //border: 3px solid #660099;
  border-radius: 5px;
  border-collapse: separate;
  background-color: #660099;
  float: right;
  margin-top: 1rem;
  margin-left: 20rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

table.container .cont-premium-primeira-ligacao {
  width: 212px;
  height: 100px;
  //border: 3px solid #660099;
  border-radius: 5px;
  border-collapse: separate;
  background-color: #fff;
  border: 2px solid #609;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.container-margin {
  margin-bottom: 1rem;
}