.list-group {
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
}

.list-group > :last-child {
  margin-bottom: 0;
}

.list-group-item {
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.inline-list {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

ul {
  list-style: none;
  margin-top: 0!important;;
}

li::before {
  content: "•";
  width: 1rem;
  display: inline-block;
  color: #BB69E4;
  margin-right: -7px;
}
