p {
  margin-bottom: 5px!important;
  font-family: $body-font-family;
  font-size: $global-font-size;
  color: #333333; }

.titulo {
  font-size: 42px;
  font-weight: bold;
  color: $white;
  position: absolute;
  text-transform: uppercase;
  font-family: $title-font-family;
  top: 50%;
  left: 40%;
  margin: 0!important;
  transform: translate(-50%, -50%);
}

.vivo {
  font-size: $h6-font-size;
  font-weight: bold;
  color: #660099;
  justify-content: center;
  margin-bottom: 20px;
  font-family: $title-font-family;}

.rodape {
  font-size: 12px;
  color: #777777;
  margin: 0 !important;
  width: 600px;
  font-family: $body-font-family; }

.titulo-nome {
  font-size: $h5-font-size;
  color: #333333;
  font-weight: bold;
  margin-bottom: 15px !important;
  margin-top: 25px !important;
  font-family: $body-font-family; }

  @media only screen and (max-width: #{$global-breakpoint}) {
    p.titulo-grande {
      top: 150px !important;
      left: 30px !important;
      font-size: 40px !important; } }

.link-atendimento {
  margin-top: 5px; }

.final {
  font-size: 16px;
  margin-top: 15px;
  font-family: $body-font-family; }

.destaque {
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  font-family: $body-font-family; }

  @media only screen and (max-width: #{$global-breakpoint}) {
    p.titulo-medio {
      top: 150px !important;
      left: 30px !important;
      font-size: 20px !important; } }

.corpo-texto {
  font-size: 18px;
  color: #333333;
  font-family: $body-font-family; }

.atencao {
  font-size: 25px;
  font-weight: bold;
  line-height: 135%;
  margin-right: 124px;
  margin-left: 120px;
  font-family: $title-font-family; }

.chamada-texto {
  font-size: 20px;
  color: #333333;
  margin-bottom: 35px !important;
  font-family: $body-font-family; }

.titulo-container {
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  color: #333333;
  font-family: $body-font-family; }

.texto-container {
  margin-right: 327px;
  font-size: 18px;
  color: #333333;
  font-family: $body-font-family; }

.titulo-status {
  font-family: $title-font-family;
  font-weight: bold;
  line-height: 130% !important;
  text-transform: uppercase;
  font-size: $h6-font-size;
  color: $primary-color; }

#before-btn {
  margin-top: 35px !important;
}

#before-p {
  margin-bottom: 15px !important;
}

#after-p {
  margin-bottom: 45px !important;
}

#before-final {
  margin-bottom: 45px !important;
}

#caminho-nfc {
  color: $primary-color;
}

#emissao {
  left: 26%;
}

#solicitacao {
  margin-top: 25px;
}

#solicitacao-titulo {
  left: 32%;
}